<body class="index">
<h1><%= @author.name %></h1>
<% @author.books.each do |book| %>
  <section id="book-<%= book.id %>">
    <h2><%= link_to book.title, book_path(book) %></h2>
    <img src="<%= book.cover_image %>" alt= "<%= book.title %>" height="150" width="100"/>
    <p>Pages: <%= book.pages %><br>
    Year: <%= book.publication_year %><br>
    <% book.co_authors(@author.id).each do |author| %>
      Co-author: <%= link_to author.name, author_path(author) %><br>
    <% end %></p>
    <% if book.reviews.first != nil %>
      <% top_review = book.reviews.top_rated_review %>
      <p id="top-rated-review-<%= book.id %>">Top Rated Review: "<%= top_review.title %>"(<%= top_review.rating %>)
        by <%= link_to top_review.user.username, user_path(top_review.user) %></p>
    <% else %>
      <p>No reviews for this book. Be the first to leave a review!</p>
    <% end %>
  </section>
<% end %>
<p><%= link_to 'Delete this Author', author_path(@author), method: :delete %></p>
</body>
