
<h1><%= @user.username %></h1>
<p><a class="button" href="<%= user_path(@user) + "?order_by_date=recent" %>">Most Recent - Reviews</a></p>
<p><a class="button" href="<%= user_path(@user) + "?order_by_date=oldest" %>">Oldest - Reviews</a></p>

<% @reviews.each do |review| %>
<section id="review-<%= review.id %>">

  <h2><%= review.title %></h2>
  <p> <%= review.book.title %></p>
  <img src="<%= review.book.cover_image %>" alt= "<%= review.book.title %>" height="150" width="100"/>
  <p><%= review.text %></p>
  <p><%= review.rating %></p>
  <p><%= review.created_at.to_formatted_s(:long).slice(0...-6) %></p>
  </section>
<% end %>
