  <ul class="nav_bar">
    <li class="nav_bar"><a class = "active" href='/'>Home</a></li>
    <li class="nav_bar"><a href='/books'>Book List</a></li>
    <li class="nav_bar"><a href='/books/new'>Add New Book</a></li>
    <li class="nav_bar"><a href='/books?order_by_rating=asc'>Average Rating ascending</a></li>
    <li class="nav_bar"><a href='/books?order_by_rating=desc'>Average Rating descending</a></li>
    <li class="nav_bar"><a href='/books?order_by_reviews=asc'>Number of Reviews ascending</a></li>
    <li class="nav_bar"><a href='/books?order_by_reviews=desc'>Number of Reviews descending</a></li>
    <li class="nav_bar"><a href='/books?order_by_pages=asc'>Page Number ascending</a></li>
    <li class="nav_bar"><a href='/books?order_by_pages=desc'>Page Number descending</a></li>
  </ul>
<body class="index">
<style>*{text-decoration:none; color:white; text-shadow:2px 4px 4px rgba(0, 0, 0, 0.7);}</style>
<h1>Book List</h1>
<section id="books_list">
  <% @books.each do |book| %>
  <li class="column">
     <section id='book-<%= book.id %>' >
       <img src=<%= book.cover_image %> alt= "<%= book.title %>" height="300" width="200" /><br>
        <%= link_to book.title, book_path(book) %><br>
        <% book.authors.each do |author| %>
          By: <%= link_to author.name, author_path(author) %><br>
        <% end %>
        <div>Publication Year: <%= book.publication_year %><br>
        Pages: <%= book.pages %><br>
        Reviews: <%= book.review_count %><br>
        Average Rating: <%= book.average_rating.to_f.round(1) %></div>
      </section>
    </li>
  <% end %>

<h1>Statistics</h1>
  <section class='statistics-highest-rated-book-'>
<h3>Highest Rated Books (Top 3):</h3>
    <% @highest_rated_books.each do |book| %>
      <p>Title: <%= link_to book.title, book_path(book) %></p>
      <p>Average Rating: <%= book.average_rating.to_f.round(1) %></p>
    <% end %>
  </section>
  <h3>Worst Rated Books (Bottom 3):</h3>
  <section class='statistics-worst-rated-book-'>
    <% @worst_rated_books.each do |book| %>
      <p>Title: <%= link_to book.title, book_path(book) %></p>
      <p>Average Rating: <%= book.average_rating.to_f.round(1) %></p>
    <% end %>
  </section>
  <h3>Users with the Most Reviews:</h3>
  <section id='statistics-most-user-reviews'>
    <% @top_reviewers.each do |user| %>
      <p>Username: <%= link_to user.username, user_path(user) %></p>
      <p>Reviews: <%= user.review_count %></p>
    <% end %>
  </section>
</body>
