<body>
<% @books.each do |book| %>
  <h2>Title: <%= book.title %></h2>
  <p>Publication Year: <%= book.publication_year %></p>
  <p>Pages: <%= book.pages %></p>
  <img src=<%= book.cover_image %> alt= "<%= book.title %>" height="150" width="100" />
<% end %>
</body>
