  <ul class="nav_bar">
    <li class="nav_bar"><a class = "active" href='<% root_path %>'>Home</a></li>
    <li class="nav_bar"><a href='<% books_path %>'>Book List</a></li>
    <li class="nav_bar"><a href='<%= new_book_path %>'>Add New Book</a></li>
    <li class="nav_bar"><a href='/books?order_by_rating=asc'>Average Rating ascending</a></li>
    <li class="nav_bar"><a href='/books?order_by_rating=desc'>Average Rating descending</a></li>
    <li class="nav_bar"><a href='/books?order_by_reviews=asc'>Number of Reviews ascending</a></li>
    <li class="nav_bar"><a href='/books?order_by_reviews=desc'>Number of Reviews descending</a></li>
    <li class="nav_bar"><a href='/books?order_by_pages=asc'>Page Number ascending</a></li>
    <li class="nav_bar"><a href='/books?order_by_pages=desc'>Page Number descending</a></li>
  </ul>
<body class="books_index">

<h2>Book List</h2>
<ul id="books_list">
  <% @books.each do |book| %>
    <li>
     <section id='book-<%= book.id %>' >
        <h2>Title: <%= link_to book.title, book_path(book) %></h2>
        <% book.authors.each do |author| %>
          <p>By: <%= link_to author.name, author_path(author) %></p>
        <% end %>
        <p>Publication Year: <%= book.publication_year %></p>
        <p>Pages: <%= book.pages %></p>
        <p>Reviews: <%= book.review_count %></p>
        <p>Average Rating: <%= book.average_rating.to_f.round(1) %></p>
        <img src=<%= book.cover_image %> alt= "<%= book.title %>" height="150" width="100" />
      </section>
    </li>
  <% end %>
</ul>

<h2>Statistics</h2>
  <section class='statistics-highest-rated-book-'>
<h3>Highest Rated Books (Top 3):</h3>
    <% @highest_rated_books.each do |book| %>
      <p>Title: <%= link_to book.title, book_path(book) %></p>
      <p>Average Rating: <%= book.average_rating.to_f.round(1) %></p>
    <% end %>
  </section>
  <h3>Worst Rated Books (Bottom 3):</h3>
  <section class='statistics-worst-rated-book-'>
    <% @worst_rated_books.each do |book| %>
      <p>Title: <%= link_to book.title, book_path(book) %></p>
      <p>Average Rating: <%= book.average_rating.to_f.round(1) %></p>
    <% end %>
  </section>
  <h3>Users with the Most Reviews:</h3>
  <section id='statistics-most-user-reviews'>
    <% @top_reviewers.each do |user| %>
      <p>Username: <%= link_to user.username, user_path(user) %></p>
      <p>Reviews: <%= user.review_count %></p>
    <% end %>
  </section>
</body>
