<h1>New Review</h1>

<%= form_for [@book, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :username %>
  <%= f.text_field :user %>

  <%= f.label :rating %>
  <%= f.select :rating, (1..5) %>

  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.submit "Submit Review" %>
<% end %>
