<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="book_icon.png">
    <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="application.css">
    <title>Lit Cove Book Club</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <style>

  ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  li.nav_bar {
    float: left;
    font-family: 'Exo';
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }
  </style>

  <body>
    <% unless current_page?(root_path) || current_page?(books_path) %>
      <ul class="nav_bar">
        <li class="nav_bar"><a class = "active" href="/">Home</a></li>
        <li class="nav_bar"><a href="/books">Book List</a></li>
      </ul>
    <% end %>
    <p class="flash" ><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
